.doto-container{
    max-width: 600px;
}

body {
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
}

.todo-line{
    padding:0px;
    border-bottom: 1px solid gray;
}


[todo-status="Active"]{
    color:green;
}
[todo-status="Complete"] * {
    text-decoration: line-through;
}

.new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.new-todo, .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.listEl {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}
.todo-footer a{
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    zborder: 1px solid transparent;
    border-radius: 3px;
}

.todo-footer {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    padding: 10px;
}



 .todo-footer a.selected {
    border-color: rgba(175, 47, 47, 0.2);
    
}
.h{
    border-color: rgba(175, 47, 47, 0.2);
    border:1px solid red;
}
[del-todo]{
    float:right;
    display: none;
}
.todo-line:hover [del-todo]{
    display: initial;
}




 .azedit {
    
    margin: 0;
    width:calc(100% - 50px);
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.azedit.read-only {
    border: 1px solid white;
    border-color: transparent;
    outline: none;    
    box-shadow: initial;
}
